# Gradle generated directories
build/
.gradle/
gradle/
gradlew
gradlew.bat

# IntelliJ IDE files
.idea/
*.iml
*.ipr
*.iws

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db

# Logs and log files
*.log
log/
logs/

# Backup and temporary files
*~
*.bak
*.swp

# Local or configuration properties files
application-local.properties

# Depending on your needs, you can add more patterns here
